.calculator_wrapper {
    position: relative;
    width: 100%;
}

.calculator_grid_body {
    display: grid;

    max-width: 350px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "dipley dipley dipley dipley"
    "spanText  spanText  spanText  spanText "

}

.dipley_input{
    width: 100%;
    background: #aaaaaa;
    grid-area: dipley;
}



.grid_item {
    text-align: center;
    border: 2px dashed rgba(100, 100, 255, 0.2);
    padding: 15px;
    font-size: 30px;

}

.item_span {
    grid-area: spanText;

}

