.inputWraper{
    display: flex;
    width: 50%;
    justify-content: space-between;


    margin:0 0 10px 10px  ;

}
.formControl input
{
    color: #303030;

}
.formControl.error input
{
    color: red;
    border: red solid 3px;
}
 span.styleSpan
{
    color: blueviolet;

}
 .comenErrors
 {
     color: coral;
 }
