.foto{
    display: block;
    width: 100px;
}
.Wrapper{
    width: 100%;

}
.login_wrapper{
    display: flex;
    width: 50%;
    display: block;
    flex-direction: column;
    justify-content: right;


    margin: 0 25%;
}