.wrapper_cart {
    display: flex;
    width: 100%;

}

.conteiner_cart {
    width: 100%;
    margin: 2%;

}

.titel_cart {
    display: flex;

    justify-content: space-between;
    margin: 24px 0;


}

.items_in_cart {
    font-weight: 100;
    font-size: 32px;
    color: #222222;
    align-items: center;


}

.wrapper_column_carts {
    display: grid;
    grid-template-columns: 1fr 170px;


}
.elements_in_column{

}

.cart_left_column {
    width: 100%;
    display: flex;
    flex-direction: column;



}

.user_contacts {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    align-items: center;

}

.shop_logo {
    display: flex;

}


.shop_photo img{
    display: block;
    width: 32px;
    height: 32px;
    background: beige;
    font-size: 8px;

}

.shop_name {
    padding: 0 0 0 10px;

}

.shop_contact {
    font-weight: 300;
    font-size: 13px;
}

.conteiner_info {
    display: grid;
    width: 100%;
    grid-template-columns: 170px 1fr 120px;
    grid-template-areas:
            "Foto Info Purchase";
}

@media ( max-width: 900px) {
    .conteiner_info {
        grid-template-columns: 1fr 120px;
        grid-template-areas:
            "Foto Purchase"
            "Info Purchase";
    }
}
@media ( max-width: 769px) {
    .conteiner_info {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Foto "
            "Purchase"
            "Info ";
    }
}
.product_foto {
    grid-area: Foto;

}
.product_foto img{
    width: 100%;
    display: block;
}

.product_info_conteiner {
    grid-area: Info;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 18px;


}

.product_name{
    text-align: left;
    font-weight: 600;
    padding: 0 0 20px;
}

.product_description{
    text-align: left;
    padding: 0 0 20px 0;
}

.purchase_block {
    grid-area: Purchase;
    display: flex;
    justify-content: space-between;

}
.product_deletion_of_cart {
    text-align: left;
}

.product_quantity select {
    display: block;
    width: 50px;
    height: 48px;
    font-size: 18px;
    background: #aaaaaa;

}

.product_cost {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    text-align: right;

}


.gift_coupon_block {
    display: flex;
    flex-direction: column;
}

.gift {
    text-align: left;
    padding:  20px 0;
}

.coupon {
    text-align: left;
    padding:  20px 0;
}
.communication_block{
    display: flex;
    width: 100%;

}
.add_note {
    display: block;
    width: 50%;
    background: white;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}
.shipping_conteiner{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #595959;
    padding: 0 0 130px 0;


}
.shipping{
    text-align: right;
    padding: 0 0 15px;
}
.shipment{
    text-align: right;
    font-size: 12px

}
.from{
    text-align: right;
    font-size: 12px
}
.cart_rigth_column {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;

}
.shopping_items{
    font-size: 13px;
    font-style: italic;
    font-weight: 100;

}
.shopping_displey_none{
    display: none;
}
.button{
    display: block;
    width: 100%;
    height: 48px;
    background: #222222;
    color: white;
    border-radius: 28px;
    margin: 12px 0 ;
    padding: 0 20px;

}

.block_pay {

    position: fixed;
    display: block;
    background: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    text-align: left;
    padding: 18px;
}
.shop_wrapper{
    width: 100%;
    display: flex;
    background: white;
    justify-content: space-around;
}
.shop_item{

    margin: 10px 0 50px;
}